<% layout("layouts/boilerplate")%>
    <h1>All Date Places</h1>
    <div>
        <a href="/dateplaces/new">Add Date Place</a>
    </div>
    <ul>
        <% for (let dateplace of dateplaces) {%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if (dateplace.images.length) { %>
                            <img class="img-fluid" alt="" src="<%= dateplace.images[0].url %> ">
                            <% }else { %>
                                <img class="img-fluid" alt=""
                                    src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
                                <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= dateplace.title%>
                            </h5>
                            <p class="card-text">
                                <%= dateplace.description%>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= dateplace.location%>
                                </small>
                            </p>
                            <a href="/dateplaces/<%= dateplace.id  %>" class="btn btn-primary">View <%= dateplace.title
                                    %> </a>
                        </div>
                    </div>
                </div>
            </div>
            <% }%>
    </ul>